<!doctype html>
<html lang="en">

<%- include('./partials/header'); %>


  <body>

<%- include('./partials/nav'); %>

      <div class="container">
        <div class="loginBox">
          <h1>Log in</h1>
          <input type="text" id="userInput" placeholder="USERNAME"> 
          <input type="text" id="passwordInput" placeholder="PASSWORD"> 
          <a href="/" class="btn btn-block lgnbtn">Login</a>
        </div>
      </div>

    <%- include('./partials/scripts'); %>
  </body>
</html>

